<!-- <table *ngIf="imageList">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="card-img-top" *ngIf="i!=0">
        <img [src]="imageList[i].imageUrl" class="img-fluid">
        <div class="card-body">
            
             <p class="card-text">Tasks : {{imageList[3*i-1].tasks}}</p>
          <p class="card-text">Rules :{{imageList[3*i-1].rules}}</p> 
        </div>
      </div>
    </td>
    
  </tr>
</table> -->

  <div *ngIf="imageList">
   <div class="row">
        <div *ngFor="let i of rowIndexArray" class="col-6">
          <div class="h-100" style="padding: 10px">
            <!-- <mat-card matRipple class="d-flex flex-column card h-100 mat-elevation-z12" *ngIf="i==0">
              <a routerLink="/admin/upload" style="text-decoration: none"><img class="img-fluid card-img" src="../../../../assets/upload.jpg">
              <div class="row flex-grow-1 fill-remaining-space"></div>
              <div class="mat-h3 quicksand margin-10">Insert new Image</div></a>
            </mat-card> -->
             <mat-card matRipple class="d-flex flex-column card h-100 mat-elevation-z12" *ngIf="i!=0">
                    <img class="img-fluid card-img" [src]="imageList[i].imageUrl"> 
                    <div class="row flex-grow-1 fill-remaining-space"></div>
                    <h3>Today's Task</h3>
                    <div class="mat-h3 quicksand margin-10">{{imageList[i].tasks}}</div>
                    <h3>Rules</h3>
                    <div class="mat-h3 quicksand margin-10">{{imageList[i].rules}}</div> 
            </mat-card> 
          </div>
        </div>
      </div> 
      </div>
