
/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
h1{
    padding-left: 34%;
    padding-right: 20%;
    padding-top: 0%;
    padding-bottom: 0%;
    color: antiquewhite;
}
form {
    color: antiquewhite;
    padding-top: 0%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;    
}
.confirm{
    
    color: antiquewhite;
    
    border-radius: 30px;
    background: white;
    margin-left: 20%;
    min-width: 300px;
    /* margin:5vw 0 0 8vw; */
    margin-top: 50px;
    margin-right: 20%;
    float:left;
    width:60%;
    padding:3vw;
    /* height:37vw; */
    background: black;
    box-shadow: 3px 3px 8px 5px #888888;
        
      
}


.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
 body { height: 100%; background-color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

/* div{
   
    background-color: black;
} */

