//@import "../../../../../variables";
//
//.room-title {
//    padding: 1em 1em 1em 2em;
//    border-bottom: 2px solid $grey;
//}

@import "../../../../../../../variables";

.room-title {
  padding: 1em 1em 1em 2em;
  border-bottom: 2px solid $grey;
}
