<!-- <div class="main">
  <div class="sidebar">
    <ul>
      <li>Fitness</li>
      <li><a routerLink="/environment">Environment</a></li>
      <li>Global</li>
      <li>Account</li>
    </ul>
  </div>
  <div class="user_content">
    <br/><br/><br/><br/>
    <mat-tab-group dynamicHeight class="tabs">
      <mat-tab label="Profile">
        <div class="row" style="margin-top: 10px">


          <div class="col-md-4">
            <mdb-card cascade="true" narrower="true">

              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/e2.jpg"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <mdb-card-body cascade="true" class="text-center">

                <a mdbBtn color="green" routerLink="/environment/main/save" class="waves-light" mdbWavesEffect>Ticket-Details</a>

              </mdb-card-body>

            </mdb-card>
          </div>
          <div class="col-md-4">
            <mdb-card cascade="true" narrower="true">

              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/showt.jpg"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <mdb-card-body cascade="true" class="text-center">


                <a mdbBtn color="green" routerLink="/environment/main/save/image/list" routerLinkActive="active"
                   class="waves-light" mdbWavesEffect>View Images Uploaded</a>

              </mdb-card-body>

            </mdb-card>

          </div>
          <div class="col-md-4">
            <mdb-card cascade="true" narrower="true">

              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/e1.jpeg"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <mdb-card-body cascade="true" class="text-center">


                <a mdbBtn color="green" routerLink="/environment/main/getTicket" routerLinkActive="active"
                   class="waves-light" mdbWavesEffect>History</a>

              </mdb-card-body>

            </mdb-card>
          </div>

        </div>
        end of Profile section-----------------------------------------------------------------

      </mat-tab>
      <mat-tab label="Personal Statistics">

        <div class="row justify-content-center">
          <div class="col-10 col-sm-6 col-xs-6">
            <div class="h-100" style="padding: 10px">
              <mat-card matRipple class="d-flex flex-column card h-100 mat-elevation-z12">
                <img alt="levels" class="img-fluid card-img" src="../../assets/envlevels.svg">
                <div class="row flex-grow-1 fill-remaining-space"></div>
                <div class="mat-h3 quicksand margin-10">Level</div>
              </mat-card>
            </div>
          </div>
          <div class="col-10 col-sm-6 col-xs-6">
            <div class="h-100" style="padding: 10px">
              <a routerLink="/env/admin/list" style="text-decoration: none">
                <mat-card matRipple class="d-flex flex-column card h-100 mat-elevation-z12">
                  <img class="img-fluid card-img" src="../../assets/envdaily.svg">
                  <div class="row flex-grow-1 fill-remaining-space"></div>
                  <div class="mat-h3 quicksand margin-10">Daily-Tasks</div>
                </mat-card>
              </a>
            </div>
          </div>
        </div>

      </mat-tab>

      <mat-tab label="Rewarding Rules">
        <div class="example-small-box mat-elevation-z4" style="height:400px; width:600px">
          Extending a reward to students helps to promote positive and appropriate behavior among students in your
          class. ... Through appropriate student behavior, teachers are able to concentrate on lesson content and
          interactive activities to indulge students in learning opposed to focusing on classroom discipline
        </div>
      </mat-tab>
      <mat-tab label="Rewards">
              <div class="example-large-box mat-elevation-z4">
              Large content
              </div>
      </mat-tab>  


    </mat-tab-group>
  </div> -->
  <div class="main">
    <div class="sidebar">
      <ul>
        <li>Fitness</li>
        <li><a routerLink="/environment">Environment</a></li>
        <li>Global</li>
        <li>Account</li>
      </ul>
    </div>
  <div class="user_content">
      <br/><br/><br/><br/>    
      <mat-tab-group dynamicHeight class="tabs">
          <mat-tab label="Profile">
              <div class="row" style="margin-top: 10px">
            
          
                  <div class="col-md-4">
                    <mdb-card cascade="true" narrower="true">
                
                      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                        <mdb-card-img src="../../../assets/e2.jpg"></mdb-card-img>
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                
                      <mdb-card-body cascade="true" class="text-center">
                        
                        <a mdbBtn color="green" routerLink="/environment/main/save"  class="waves-light" mdbWavesEffect>Ticket-Details</a>
                
                      </mdb-card-body>
                
                    </mdb-card>
                  </div>
                  <div class="col-md-4">
                    <mdb-card cascade="true" narrower="true">
        
                      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                        <mdb-card-img src="../../../assets/e1.jpeg"></mdb-card-img>
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
        
                      <mdb-card-body cascade="true" class="text-center">
        
        
                        <a mdbBtn color="green" routerLink="/environment/main/getTicket" routerLinkActive="active"
                           class="waves-light" mdbWavesEffect>History</a>
        
                      </mdb-card-body>
        
                    </mdb-card>
                  </div>
                  <div class="col-md-4">
                      <mdb-card cascade="true" narrower="true">
                  
                        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                          <mdb-card-img src="../../../assets/s1.jpg"></mdb-card-img>
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                  
                        <mdb-card-body cascade="true" class="text-center">
                         
                  
                          
                          <a mdbBtn color="green" routerLink="/cleanindia/upload" routerLinkActive="active" class="waves-light" mdbWavesEffect>Swachh Bharat</a>
                  
                        </mdb-card-body>
                  
                      </mdb-card>
                    </div>
                
                </div> 
 <!--end of Profile section------------------------------------------------------------------->             
              
          </mat-tab>
              <mat-tab label="Personal Statistics">
                  
                  <div class="row justify-content-center">
                      <div class="col-10 col-sm-6 col-xs-6">
                        <div class="h-100" style="padding: 10px">
                          <mat-card matRipple class="d-flex flex-column card h-100 mat-elevation-z12">
                            <img class="img-fluid card-img" src="..//assets/envlevels.svg">
                            <div class="row flex-grow-1 fill-remaining-space"></div>
                            <div class="mat-h3 quicksand margin-10">Level</div>
                          </mat-card>
                        </div>
                      </div>
                      <div class="col-10 col-sm-6 col-xs-6">
                          <div class="h-100" style="padding: 10px">
                            <a routerLink="/env/admin/list" style="text-decoration: none"><mat-card matRipple class="d-flex flex-column card h-100 mat-elevation-z12">
                              <img class="img-fluid card-img" src="..//assets/envdaily.svg">
                              <div class="row flex-grow-1 fill-remaining-space"></div>
                              <div class="mat-h3 quicksand margin-10">Daily-Tasks</div>
                            </mat-card></a>
                          </div>
                        </div>
                    </div>
                      
              </mat-tab>
              
              <mat-tab label="Rewarding Rules">
                  <div class="example-small-box mat-elevation-z4" style="height:400px; width:600px">
                     <p> Extending a reward to students helps to promote positive and appropriate behavior among students in your class. ... Through appropriate student behavior, teachers are able to concentrate on lesson content and interactive activities to indulge students in learning opposed to focusing on classroom discipline
                  </p>
                    </div>
              </mat-tab>
              <!-- <mat-tab label="Rewards">
                      <div class="example-large-box mat-elevation-z4">
                      Large content
                      </div>
              </mat-tab>   -->
              

      </mat-tab-group>
  </div>    
</div>
