<!-- <div class="row">
  <div class="col-md-8 offset-md-2"> -->
<!-- 
<blockquote class="blockquote">
  <p class="mb-0 h3 display-4" >Certificate Gallery</p>

<div class="container-fluid h-100">
  <div class="row h-100">
    <div *ngIf="navigated" class="col">
          <app-environment-quotes [isSmall]="isSmall" [(navigated)]="navigated"></app-environment-quotes>

    </div>
    <div *ngIf="isSmall || !navigated" class="col-xl-5 col">
          <app-environment-dashboard-profile [(navigated)]="navigated"></app-environment-dashboard-profile>
      </div>
  </div>
</div>
<div class="back"></div>


  <footer class="blockquote-footer">The smallest act of kindness is worth more than  <cite title="Source Title">the grandest intention</cite></footer>
</blockquote> -->
<!-- 
<div class="container-fluid h-100">
  <div class="row h-100">
    <div *ngIf="navigated" class="col">
      <app-fitness-dashboard [isSmall]="isSmall" [(navigated)]="navigated"></app-fitness-dashboard>
    </div>
    <div *ngIf="isSmall || !navigated" class="col-xl-5 col">
      <app-fitness-focus [(navigated)]="navigated"></app-fitness-focus>
    </div>
  </div>/
</div> -->
<div class="back"></div>


<router-outlet></router-outlet>
  <!-- </div>
</div> -->
