<div class="main">
    <ul>
        <li class="works jogger">How it works</li>
        <li (click)="loginpopup()">Login</li>
        <button (click)="open()" mat-flat-button>Get started!</button>
    </ul>
    <div class="top_container">
    <h1>FReX FOR FREAKS</h1>        
  
    <div class="left_div animated bounceInDown">
        <!-- <div>
                <br/><br/>
                <div class="circle_cont animated myanimation1"><span class="dot"></span></div><span class="content">MOVE</span> <br/><br/> <br/><br/><br/>
                <div class="circle_cont animated myanimation2"><span class="dot"></span></div><span class="content">RUN</span>  <br/><br/><br/><br/><br/>
                <div class="circle_cont animated myanimation3"><span class="dot"></span></div><span class="content">WIN</span>  <br/><br/><br/><br/><br/>
        </div> -->

        <img class="top_image" src="..//assets/mindfull.svg" alt="partner image">
        <br/>
        <div class="typed-strings">
        </div><br/><br/>
        <ul class="typed-strings1">
        </ul>
        <br/><br/>
        <button mat-raised-button>Get started today!</button>
    </div>

    <div class="right_div">
        <br/><br/>
        <div class="right_mid">
            <div class="right_div_inner animated fadeInDown ">
                <div class="right_inner_box jogger">
                    <img class="internal_logo" src="..//assets/jogging.png" alt="partner image">
                </div>
                <div class="right_inner_box photography">
                        <img class="internal_logo" src="..//assets/photography.svg" alt="partner image">
                </div>
                <div class="right_inner_box volunteer">
                        <img class="internal_logo" src="..//assets/volunteer.svg" alt="partner image">
                </div>
                <div class="right_inner_box environment">
                        <img class="internal_logo" src="..//assets/environment.svg" alt="partner image">
                </div>
            </div>
        </div>
    </div>
    </div>
    <br/><br/><br/>
    <div class="mid_content">
    <br/><br/><br/>
    


    <div class="content_mid_top animation_one animated jogger_content">
            <div class="box_image">
                <img class="internal_logo" src="..//assets/mobile.png" alt="partner image">
                <br/>
                <p style="margin-left:60px;">USE YOUR PHONE AND WIN</p> 
            </div>
            <div class="box_image">
                    <img class="internal_logo" src="..//assets/trophy.svg" alt="partner image">
                    <br/>
                    <p style="margin-left:20px;">ONGOING MOTIVAIONAL CHALLANGES</p>
            </div>
            <div class="box_image">
                    <img class="internal_logo" src="..//assets/boxes.png" alt="partner image">
                    <br/>
                    <p style="margin-left:60px;">MIX AND MATCH CONTEST</p>
            </div>
    </div><br/><br/><br/><br/>



    
    <div class="content_holder animation_one animated jogger_content1">
            <div class="box_image">
                <img class="internal_logo" src="..//assets/jogging.png" alt="partner image">
            </div>
            <div class="box_content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
    </div><br/><br/><br/><br/>
    <div class="content_holder animation_two animated photography_content">
            <div class="box_image">
                <img class="internal_logo" src="..//assets/photography.svg" alt="partner image">
            </div>
            <div class="box_content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
    </div><br/><br/><br/><br/>
    <div class="content_holder animation_three animated volunteer_content">
            <div class="box_image">
                <img class="internal_logo" src="..//assets/volunteer.svg" alt="partner image">
            </div>
            <div class="box_content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
    </div><br/><br/><br/><br/>
    <div class="content_holder animation_four animated environment_content">
            <div class="box_image">
                <img class="internal_logo" src="..//assets/environment.svg" alt="partner image">
            </div>
            <div class="box_content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
    </div><br/><br/><br/><br/>


    
    
    <section></section>
    <footer class="footer-distributed">
    
                <div class="footer-left">
    
                    <h3>FReX</h3>
    
                    <p class="footer-links">
                        <a href="#" class="link-1">Home</a>
                        
                        <a href="#">Blog</a>
                    
                        <a href="#">Pricing</a>
                    
                        <a href="#">About</a>
                        
                        <a href="#">Faq</a>
                        
                        <a href="#">Contact</a>
                    </p>
    
                    <p class="footer-company-name">FReX Pvt. Ltd. © 2019</p>
                </div>
    
                <div class="footer-center">
    
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>Stackroute Koramangala</span> Block 3, Bangalore</p>
                    </div>
    
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+91-87726787281</p>
                    </div>
    
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:frex@stackroute.in">frex@stackroute.in</a></p>
                    </div>
    
                </div>
    
                <div class="footer-right">
    
                    <p class="footer-company-about">
                        <span>About the company</span>
                        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                    </p>
                    <div class="footer-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </footer>

    </div>
</div>




<!-- <footer>
    <div class="copyright">
      <p>&copy 2013 - Organisation</p>
    </div>
    <div class="social">
      <a href="#" class="support">Contact Us</a>
      <a href="#" class="face">f</a>
      <a href="#" class="tweet">t</a>
      <a href="#" class="linked">in</a>
    </div>
  </footer> -->


<!-- <section></section>
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>FReX</h3>

				<p class="footer-links">
					<a href="#" class="link-1">Home</a>
					
					<a href="#">Blog</a>
				
					<a href="#">Pricing</a>
				
					<a href="#">About</a>
					
					<a href="#">Faq</a>
					
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">FReX Pvt. Ltd. © 2019</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Stackroute Koramangala</span> Block 3, Bangalore</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91-87726787281</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:frex@stackroute.in">frex@stackroute.in</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>
				<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
				</div>
			</div>
		</footer> -->
