<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center">
    <div class="col-12 h-100">
      <div class="h-100 card-padding">
        <mat-card class="h-100 card-border mat-elevation-z22">
          <div class="d-flex flex-grow-1 h-100">
            <div class="horizontal-bar h-100">
              <div style="height: 10px"></div>
              <button mat-icon-button class="no-outline">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
            <div class="body-details h-100 w-100 mat-elevation-z20">
              <div class="row h-100">
                <div class="h-100 col">
                  <div class="row justify-content-center" style="margin: 20px">
                    <button style="margin:10px" mat-flat-button class="no-outline">Share</button>
                    <div class="d-flex flex-grow-1"></div>
                    <div class="mat-subheader quicksand font-weight-bold" style="margin: auto 10px auto auto;">Pushkar Saraf</div>
                    <img class="avatar" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
                  </div>
                </div>
                <div class="h-100 d-none d-md-block d-xl-block d-lg-block col-sm-4">
                  <mat-card class="h-100 round-20 mat-elevation-z0"></mat-card>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="back"></div>
